.containerb-wrapper{
    background-color: #FFF;;
}

.containerb-wrapperh3{
    text-align: center;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 47px;
    padding-top: 5rem;
}

.containerb-heading-color{
    color: #067A46;
}

.containerb-header-alpha{
    color: #ED4B4B;
}

.containerb-wrapperimage-list1 .containerb-wrapperp2{
    height: 46px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #010101;
}

.containerb-wrapperimage-list1 .containerb-wrapperimg{
    width: 291px;
    height: 513px;
}

@media (min-width:1024px){
    .containerbbutton-wrapper .containerbslider-buttons{
        display: none;
    }
}

@media (max-width:1023px){
    .containerb-wrapperimage-list1 .containerb-wrapperp2{
        margin-top: 2rem;
    }
}

@media (max-width: 575.98px){
    .containerb-wrapperh3 {
        font-size: 26px;
        padding: 0px 25px;
    }
}

.containerbbutton-wrapper .containerbslider-buttons{
    border-radius: 40px;
    border: 1px solid #000;
    background: #C7F2AB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
}

.containerbslider-buttons.active {
    border: 1px solid black !important;
    color: black !important;
}
