@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:wght@100&display=swap');

.home-counter {
  position: relative;
}

.home-counter .counter {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  background: rgb(6, 119, 73);
  color: white;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  width: 50%;

}

.btnrow .btn-1,.btnrow  .btn-2{
  box-shadow: none;
  border: none;
  width: 138px;
  border-radius: 25px;
  height: 50px;
font-size: 18px;
}
.btnrow .btn-1:hover{
  background:#D9D9D9 !important;
  box-shadow: none;
  border: #000;
  color: black;
}
.btnrow .btn-2:hover{
  background: rgb(199, 242, 171) !important;
  box-shadow: none;
}

.counter .head-line {
  background-color: orange;
  height: 6.25rem;
  padding-bottom: 0.625rem;
  width: 0.188rem;
}

.header-title{
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 1.37rem;
display: flex;
align-items: center;

color: #000000;
}
.slogancard-para{
  font-family: 'Comfortaa';
}
.header-h1{
  line-height: 47px;
 
}
.header-content{
font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 2.5rem;
line-height: 3.9rem;
display: flex;
align-items: center;
color: #000000;
}
.descript{
  font-family: sans-serif;
  font-size: 12px;
}
.count{
  font-size: 15px;
}
.mand-v {
  /* margin-top: 60px; */
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  flex-wrap: wrap;
 
}
.mand-v .title {
  /* margin-top: 10rem; */
  display: flex;
  justify-content: center;
}
.text1{
  font-family: 'Comfortaa';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;

}
.text2{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
 text-align: center;
 display: flex;
 justify-content: center;
}
.mand-v .section-cards {
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 20px;
  margin-left: 20px;
}
.section-cards .card1,
.section-cards .card2,
.section-cards .card3 {
  background-color: #000;
  height: 15%;
  margin-bottom: 2.5rem;
  /* width: 15%; */
  text-align: center;

}
.card-botton {
  /* border: 10px solid red; */
  background-image: url("../Images/helpinghands.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
.cardh3 {
  background-color: #c7f2ab;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 2px 2px 5px;
  height: 15rem;
  text-align: center;
  padding-top: 20px;
  width: 15rem;
  z-index: 1;
  margin-top: -10px;
}
.para-round {
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 5px;
  color: #000;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  margin-left: 90px;
  margin-top: -30px;
  position: relative;
  text-align: center;
  width: 50px;
  z-index: 1;
}
.cardbottom {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.img-side {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 40%;
}
.btn-update:hover,.homejoin-btn:hover,.button-donate:hover,.donateclassright-form .money:hover{
  background-color:#C7F2AB!important;
}
.rounded-pill:hover{
  
  color: black !important;
}
.card-img {
  height: 100%;
  width: 100%;
}

/* .line {
  background-color: grey;
  height: 20rem;
  margin-top: 55px;
  width: 5px;
} */
.para-sideh3{
  font-size: 36px;
}
.para-sidep{
  align-items: flex-start;
  font-weight: 400;
font-size: 24px;
  text-align: justify;
 
  font-family: 'Comfortaa';
}
.btn-diff:hover{
background-color: #C7F2AB;
color: black;
}
.btn-diff {
  background-color: #067749;;
  border: none;
  border-radius: 20px;
  color: #fff;
  width: 121px;
  height: 40px;
  font-weight: 400;
font-size: 14px;
}

.HowToDo {
    align-items: center;
    background-color: #c7f2ab;
    display: flex;
    justify-content: space-between;
    
    
  }
  ul  .list{
    font-weight: 400;
font-size: 24px;
  }
  .left-para h5{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
  }
  .left-para h1{
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 36px;
  }
  .main-worrior{
    position: relative;
  }
  .worrior {
    align-items: center;
    background-color: #ed4b4b;
    border-radius: 90px 0px 0px 90px;
    color: #fff;
    display: flex;
    height: 10rem;
    justify-content: space-evenly;
    /* margin-left: 35rem;
    margin-top: -50px; */
    position: absolute;
    top: -80px;
    right: 0px;
    z-index: 1;
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.worrior h6{
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  font-family: 'Comfortaa';
}
.worrior .btn-join:hover{
  background-color: #C7F2AB;
  color: black;
}
.worrior .btn-join {
   
    border: none;
    color: #ed4b4b;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;
width: 183px;
height: 58px;
}
.DonateNow {
    background-color: #067749;
    display: flex;
  
    justify-content: space-around;
    
   
    padding-top: 9rem;
    width: 100%;
}
.left-intro {
    color: #fff;
    width: 40%;
}

.left-intro h6{
  font-family: 'Comfortaa';
font-style: normal;

font-size: 24px;
}
.left-intro h1{

 
font-size: 23px;
line-height: 35px;
}
.left-intro h4{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
}
.donateclassright-form {
    height: auto;
    width: 40%;
    
}

.donatenow {
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    height: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    justify-content: center;
    margin-bottom: -10px;
    text-align: center;

}
.inputfield {
    background-color: #ed4b4b;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    /* padding: 10% -20px 10% 10%; */
  
    padding: 30px;

}
input{
    border: none;
    padding: 10px;
}
.inputfield .button {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.money {
    background: none;
    border: 0.2px solid #fff;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 2px;
    width: 80px;
}
.button-sec {
    background: none;
    display: flex;
    justify-content: center;

}
.button-donate {
    border: none;
    color: #ed4b4b;
    width: 171px;
   
    background-color: white;
  
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;

   font-family: 'Comfortaa';
}
.Good-change {
    background-color: #000;
    color: #fff;
    height: auto;
   
    padding-top: 40px;
    text-align: center;
}

.btn-GC {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.b-GC {
    background-color:#067749;
    border: none;
    color: #fff;
    padding: 10px;
    width: 10rem;
    font-family: 'Poppins';
  
    font-size: 20px;
    line-height: 30px;
 
}

.wrapper {
  align-items: center;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.accordian {
  width: 35%;
}

.but {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.btn-update {
  background-color: #2eb167;
  border: none;
  padding: 10px;
  width: 10rem;
}

.ball {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  cursor: move;
  user-select: none;
}
.capsule{
  border: none;
}



/* Animation */
@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(
      calc(100% - 50px),
      calc(100% - 50px)
    );
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Apply animation to balls */
.ball {
  animation: jump 2s infinite;
}

/* Make balls draggable */
.ball:active {
  cursor: grabbing;
}
/* .card-text{
  width: 200px;
} */

@media (max-width: 280px){
  .section-cards .img-fluid{
    margin-left: -5px;
    
  }
  .count-details{
    padding: 0px 5px;
  }
  .mand-v .section-cards {
    flex-direction: column;
    margin: 0px 15px;
  }
  /* .card-text {
    margin: 0px 5px;
  } */
}
.para2{
  font-family: 'Comfortaa';
font-style: normal;
font-weight: 600;
text-align: center;
font-size: 36px;
}
.solid-line {
  border:5px solid #067749;
  background: #067749;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .worrior .btn-join {
    width: 121px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    box-shadow: none;
  }
  .section-cards .img-fluid{
    width: 80px;
    height: 80px;
   
  }

.btnrow .btn-1,.btnrow  .btn-2{
  width: 112px;
  font-size: 15px;
  
}
  .faqImg{
    display: none;
  }
  .left-intro h1,.left-intro h6{
    font-size: 18px;
  }
  .left-intro{
   
    text-align: center;
}

  .img-arrow{
    display: none;
  }
  .para2{
    font-size: 18px;
    text-align: left;
    padding: 0px 15px;
  }

  .small-image{
    width: 117px !important;
  }
  .home-counter .counter {
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center !important;
    width: auto;
    background: #C7F2AB;

    border-radius: 0; 
  }
  .text1{
    font-weight: 400;
font-size: 22px;
  }
.text2{
    font-weight: 500;
font-size: 14px;
  }
  
  .descript{
    font-weight: 500;
    font-size: 15px;
}
  .capsule{
    width: 100%;
    border-radius: 50px;
    border: solid 1px #000; 
    color: #000;
    background-color: #fff;
    margin: 10px 20px;
    display: flex;
  }
 .count{
    font-weight: 800;
    font-size: 15px;
  }
  .count-details{
    display: flex;
    flex-direction: column;
 
  }
 .left-para h5,.left-para h1{
  font-size: 24px;
 }
 ul .list{
  font-size: 16px;
 }

  /* .blue-circle{
   margin: 10px;
    height: 50px;
    width: 60px;
    background-color: #A3CFFF;
    border-radius: 50%;
  } */
  
  .mand-v .title{
    margin: 0px;
  }
 .title{
  padding:5px 15px;
  font-size: 23px;
 }
  .head-line {
    display: none;
  }
  .section-img{
    height: 50px;
    width: 50px;
    display: flex;
    margin: auto;
  }

  .mand-v .section-cards {
    flex-direction: column;
    font-family: 'Comfortaa';
  }
  .slogancard-text{
    text-align: left;
  }
 
  /* .card-text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    
    text-align: left;
  } */
  .section-cards .card1{
    display: flex;
  }
  .section-cards .card2{
    display: flex;
    flex-direction: row-reverse;
  }
  .section-cards .card3{
    display: flex;
  }
  .mand-v .title {
     margin-top: 18rem;
  }
 
  .HowToDo{
  
      flex-wrap: wrap;
      flex-direction: column-reverse;
      padding: 20px;
  }
  .worrior h6{
    font-family: 'Arvo';
    font-size: 16px;
    line-height: 25px;
  }
  .worrior{
    text-align: center;
      width: 100%;
      border-radius: 0px;
    box-shadow: none;
    padding: 20px 10px;
  
    flex-direction: column;
    top: -10px;
  }
  .faqImg{
   padding: 20px;
  }
  .left-intro,.donateclassright-form{
    width: 100%;
    padding: 20px;
  }
  .DonateNow{
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: fit-content;

  }
  .h1-GC {
    font-size: 24px;
line-height: 27px;
  }
  .blog{
    font-family: 'Arvo';
font-style: normal;
font-size: 28px;
  }
  .update{
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
font-size: 22px;
  }
}
.be-diff {
  background: #FFFFFF;
 
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 780.98px) {
  .header-title{
    font-size: 15px;

     }

  .home-section {
    flex-direction: column;
  
  }
  .home-section .header-left {
    text-align: center;
    margin: auto;
  }
  .header-left .orderNow {
    margin: 10px;
    padding: 7px 25px !important;
    
  }
  
  
  .header-left .donate {
    margin: 10px;
    padding: 7px 25px !important;
  }
  .head-btn:hover {
    background-color: gainsboro;
  }
  /* .card-botton {
    height: fit-content;
  } */
  .be-diff {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-side {
    width: auto;
  }

  .line {
    display: none;
  }
  .para-sideh3 {
    font-weight: 600;
font-size: 24px;
text-align: center;
  }
  .para-sidep{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }
  .HowToDo{
    flex-wrap: wrap;
   
  }
 
  .h1-GC{
    padding: 10px;
  }

.accordian{
  padding: 20px;
  width: auto;
}

.wrapper{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

}

@media (max-width: 767.98px) and (min-width: 500px) {
  
  .header-right {
    width: 60%;
  }
  .HowToDo{
    padding: 38px;
  }
 
}

/* for large devices */
@media only screen and (min-width: 1024px) {
  .left-intro ,.donateclassright-form{
    width: 30%;
  }
}
@media only screen and (min-width: 992px), screen and (min-width: 768px) {
  .capsule{
    padding: 0px 20px;
    margin: 20px 0px;
  }

  .head-section {
    padding-top: 150px;
  }
  .home-counter .counter{
    position: absolute;
right: 0;
    top: -50px;
  
  }
  .capsule:not(:last-child) {
   border-right: 2px solid orange;

  }
  .count{
    
    
    text-align: left;
  }
  .descript{
 
    text-align: left;
  }

  .btn-diff{
    display: none;
  }
}
@media only screen and (min-width: 992px) {
 
.header-left {
    margin-left: 63px;
    margin-top: 27px;
  }
  .count{
    font-size: 35px;
  }
  .descript{
    font-size: 18px;
  }
  .capsule-imgs{
    display: none;
  }
  .home-counter .counter {
    padding:0px 20px;
  }
  
  /* .home-counter .counter{
    position: absolute;
  right: 0;
    top: -20px;
  } */
}
@media only screen and (min-width:1400px) {
  .home-counter .counter{
    width: 50%;
      }
  .left-intro h1{

 
    font-size: 34px;
    line-height: 45px;
    }
  .be-diff{
    margin: 0px 92px;
  }
  .HowToDo{
    padding: 90px;
  }
  #left-parah1 {
    font-size: 36px;
}
.right-form {
  height: 420px;
  width: 26%;
}
}

@media only screen and (min-width: 768px){
  .capsule-imgs{
    display: none;
  }
 
  .donateclassright-form {
    height: 420px;
   
  }

  .header-left {
    margin-left: 63px;
    margin-top: 27px;
  }
  .HowToDo{
    padding: 50px;
  }
  .p-GC {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
color: #FFFFFF;
  }
 
}



/* // Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) { 
    .header-right{
        width: 60%;
    }
 }  */
/* 
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */

/* // X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */
.solid-line {
  border-bottom: 3px solid green;
  width: 100%;
}




