@media (max-width: 575.98px) {
  .card-text2nd p{
      font-size: 18px;
    }
}
@media (max-width: 780.98px) {
  .card-row .card-text2nd{
      width: 250px;
      height: 250px;
    }
}
.card-text2nd p{
  font-family: 'Comfortaa';
}
/* for large devices */
@media only screen and (min-width: 992px), screen and (min-width: 768px) {
  .card-text2nd p{
 
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      color: white;
        }
}
@media only screen and (min-width: 992px) {

  .card-row .card-text2nd{
    width:100%;
    
  }
  .card-row{
    padding:0px 40px;
  }
}
@media only screen and (min-width:1400px) {
  #card-text2nd{
    width:100% ;
    height:320px;
    
  }
}
@media only screen and (min-width: 768px){
  .card-row .card-text2nd{
      width: 300px;
      height: 350px;
    }
}
/* slider */
@media (min-width: 992px) {
  .slider-button {
    visibility: hidden !important;
  }
}
.slick-prev,.slick-next{
display: none !important;
}
#slider-btns{

  border: none !important;
  color: #000000 !important;
  font-size: 24px !important;
 
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;


  position: relative !important;
 
  background: #FFFFFF !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
display: flex !important;
}
.slider-buttons{
  display: flex !important;
}


.slider-button:hover {
  background: #ECECEC !important;
  box-shadow: none !important;
}


@media (min-width:1025px){
  .slider-container {
    margin: 0 auto;
    max-width: 80%;
    position: relative;
  }
  
 
}






  